{% extends "DIPlatformBundle::layout.html.twig" %}

{% block diplatform_body %}

    {% for label, messages in app.flashes(['success', 'info']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{{ form(formulaire) }}

    <hr>

    <table class="table table-bordered table-striped">
        <tr>
            <td>{{ "Nom"|trans }}</td>
            <td>{{ "Prenom"|trans }}</td>
        </tr>
    {% for user in users %}
        <tr>
            <td><a href="{{ path('detailuser', {'id': user.id}) }}">{{ user.nom }}</a></td>
            <td>{{ user.prenom }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}