{% extends "DIPlatformBundle::layout.html.twig" %}

{% block diplatform_body %}
    <h2>Liste des annonces ({{ pagination.getTotalItemCount }})</h2>


    <table class="table table-striped">
        {% for advert in pagination %}
            <tr>
                <td>
                    <a href="{{ path('di_platform_view', {'id': advert.id}) }}">{{ advert.title }}</a>
                </td>
                <td>
                    ajouté par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}
                </td>

            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
