{% extends "DIPlatformBundle::layout.html.twig" %}

{% block diplatform_body %}

    <div class="row" class="col-md-12">
        <h2>{{ advert.title }}</h2>
        Ajouté par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}
    </div>
    <br>
    <img width="150px" src="{{ asset(advert.image.ImgPath) }}" alt="{{ advert.image.alt }}">

    <div class="row">
        {{ advert.content }}
    </div>
    <br>
    <h3>{{ advert.nbApplications }} candidatures pour ce poste</h3>
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Contenu</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for application in list_applications %}
                    <tr>
                        <td>{{ application.author }}</td>
                        <td>{{ application.content }}</td>
                        <td>{{ application.date|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <h3>{{ "Catégories du poste"|trans }}</h3>
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Catégorie</th>
            </tr>
            </thead>
            <tbody>
            {% for category in advert.categories %}
                <tr>
                    <td>{{ category.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <div class="row">
        <a class="btn btn-default" href="{{ path('di_platform_homepage') }}" role="button">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ "Retour à la liste"|trans }}
        </a>
        <a class="btn btn-default" href="{{ path('di_platform_edit', {'id': advert.id}) }}" role="button">
            <i class="glyphicon glyphicon-edit"></i>
            {{ "Modifier l'annonce"|trans }}
        </a>
        <a class="btn btn-danger" href="{{ path('di_platform_delete', {'id': advert.id}) }}" role="button">
            <i class="glyphicon glyphicon-trash"></i>
            {{ "Supprimer l'annonce"|trans }}
        </a>
    </div>

{% endblock %}